<section class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cont-white">





<div *ngIf="!isSpanish" >

          <h3> <i class="fa fa-user-secret"></i> Mentoring Administration (Pupils lists) </h3>
          <p>Note: Here  you can see the whole list of users that has send you a request for mentoring, and also the ones that you accepted, if you want to see your request mentoring you have to go into Chat and see those ones.</p>

</div>


<div *ngIf="isSpanish">
  
          <h3> <i class="fa fa-user-secret"></i> Administración de tutoría (listas de alumnos) </h3>
          <p>Nota: Aquí puede ver la lista completa de usuarios que le enviaron una solicitud de tutoría, y también la que usted aceptó, si desea ver su solicitud como mentor, debe ingresar al Chat y ver esos.</p>


</div>





          <div class="example-header" >

          <div *ngIf="!isSpanish" >

          <label for="finder">Search by username (email)</label>
            
          </div>


          <div *ngIf="isSpanish">
            
           

          <label for="finder">Buscar por nombre de usuario (email)</label>

          </div>

            
           

            <input id="finder" matInput #filter >
          
          </div>
          
          <div class="example-container mat-elevation-z8">
          
            <mat-table #table [dataSource]="dataSource" matSort>
          







<div *ngIf="!isSpanish" >

              <ng-container matColumnDef="Acciones">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          
                <mat-cell *matCellDef="let row">
          
                  <button (click)="accept( row )"  class="main-btn boton-editar" type="button" matTooltip="With this option, you will accept as a pupil this user" *ngIf="row.isActive === '0' && theyInvitedMe( row )">
                    <i class="fa fa-check"></i>
                  </button>
          
                  <button (click)="deny( row )"  class="cancel-btn boton-editar" type="button" matTooltip="With this option, you will accept as a pupil this user" *ngIf="row.isActive === '0' && theyInvitedMe( row ) === false ">
                    <i class="fa fa-times"></i>
                  </button>
          
          
                  <button (click)="viewMeetings( row )"  class="info-btn boton-editar" type="button" matTooltip="With this option, you will accept as a pupil this user" *ngIf="row.isActive === '1'">
                    <i class="fa fa-eye"></i>
                  </button>
          
                  <button  (click)="deny( row )" class="cancel-btn boton-eliminar" type="button" matTooltip="With this you will deny as a pupil this user" *ngIf="row.isActive === '0' && theyInvitedMe( row ) " >
                    <i class="fa fa-times"></i>
                  </button>
          
                  <button (click)="deny( row )"  class="cancel-btn boton-eliminar" type="button" matTooltip="with this option you will cancel this mentoring" *ngIf="row.isActive === '1'">
                    <i class="fa fa-trash"></i>
                  </button>
          
          
                  <button (click)="viewProfile( row )"   class="info-btn boton-eliminar" type="button" matTooltip="With this option you can see in detail everything about this user">
                    <i class="fa fa-user"></i>
                  </button>
          
                  <button (click)="viewchat( row )"  class="main-btn boton-eliminar" type="button" matTooltip="With this option you will see the chat with this user">
                    <i class="fa fa-comments"></i>
                  </button>
          
                </mat-cell>
          
          
              </ng-container>
          
          
                <ng-container matColumnDef="Picture">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Picture </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <img src="{{ theyInvitedMe(row) ? row.user_id.picture : row.user_id1.picture }}" style="height: 30px; width: 30px">
                  </mat-cell>
                </ng-container>
          
          
                <ng-container matColumnDef="Email">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ theyInvitedMe(row) ? row.user_id.username : row.user_id1.username }} </mat-cell>
                </ng-container>
          
          
                <ng-container matColumnDef="Name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ theyInvitedMe(row) ? row.user_id.name : row.user_id1.name }} </mat-cell>
                </ng-container>
          
          
                <ng-container matColumnDef="Description">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ theyInvitedMe(row) ? row.user_id.description : row.user_id1.description }} </mat-cell>
                </ng-container>
  
</div>


<div *ngIf="isSpanish">
  
              <ng-container matColumnDef="Acciones">
                <mat-header-cell *matHeaderCellDef> Comportamiento </mat-header-cell>

                <mat-cell *matCellDef="let row">

                  <button (click)="accept( row )"  class="main-btn boton-editar" type="button" matTooltip="Con esta opción, aceptarás como alumno a este usuario" *ngIf="row.isActive === '0' && theyInvitedMe( row )">
                    <i class="fa fa-check"></i>
                  </button>

                  <button (click)="deny( row )"  class="cancel-btn boton-editar" type="button" matTooltip="Con esta opción, aceptarás como alumno a este usuario" *ngIf="row.isActive === '0' && theyInvitedMe( row ) === false ">
                    <i class="fa fa-times"></i>
                  </button>


                  <button (click)="viewMeetings( row )"  class="info-btn boton-editar" type="button" matTooltip="Con esta opción, aceptarás como alumno a este usuario" *ngIf="row.isActive === '1'">
                    <i class="fa fa-eye"></i>
                  </button>

                  <button  (click)="deny( row )" class="cancel-btn boton-eliminar" type="button" matTooltip="Con esto, negarás como alumno este usuario" *ngIf="row.isActive === '0' && theyInvitedMe( row ) " >
                    <i class="fa fa-times"></i>
                  </button>

                  <button (click)="deny( row )"  class="cancel-btn boton-eliminar" type="button" matTooltip="con esta opción cancelarás esta tutoría" *ngIf="row.isActive === '1'">
                    <i class="fa fa-trash"></i>
                  </button>


                  <button (click)="viewProfile( row )"   class="info-btn boton-eliminar" type="button" matTooltip="Con esta opción puedes ver en detalle todo sobre este usuario">
                    <i class="fa fa-user"></i>
                  </button>

                  <button (click)="viewchat( row )"  class="main-btn boton-eliminar" type="button" matTooltip="Con esta opción, verás el chat con este usuario">
                    <i class="fa fa-comments"></i>
                  </button>

                </mat-cell>


              </ng-container>


                <ng-container matColumnDef="Picture">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <img src="{{ theyInvitedMe(row) ? row.user_id.picture : row.user_id1.picture }}" style="height: 30px; width: 30px">
                  </mat-cell>
                </ng-container>


                <ng-container matColumnDef="Email">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ theyInvitedMe(row) ? row.user_id.username : row.user_id1.username }} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="Name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ theyInvitedMe(row) ? row.user_id.name : row.user_id1.name }} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="Description">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ theyInvitedMe(row) ? row.user_id.description : row.user_id1.description }} </mat-cell>
                </ng-container>



</div>







          
          
          
          
          
              <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          
            </mat-table>
          
          
          <mat-paginator #paginator
          [length]="dataSource.filteredData.length"
          [pageIndex]="0"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>
        
        
        
        </div>
      </div>
    </div>
  </div>
</section>

