<div  >

<div *ngIf="showContent">
  <section class="main-content">
    <div class="row">
      <div class="col-md-3">
        <div class="cont-white cont-profile">
          <h3>
            <i class="fa fa-user"></i> Profile information</h3>
          <div class="cont-img">
            <a href="" class="info-btn">
              <i class="fa fa-pencil"></i>
            </a>
            <img src="{{userToShow.picture}}" align="center">
            <br />
          </div>
          <h4>{{userToShow.name}}</h4>
          <p>{{userToShow.description}}</p>

        </div>
      </div>
      <div class="col-md-6">
        <div class="cont-white">
          <h3> <i class="fa fa-book"></i>Upload PDF files
          <button  (click)="reset()" class="info-btn"><i  class="material-icons">refresh</i></button></h3>
          <p> This page will allow you to upload PDF files to analyze them and find the keywords of each one of the uplaoded files. (There is a max of 10 docs by now)</p>
  <form class="main-form" [formGroup]="firstFormGroup" *ngIf="!is_analyzing_files && !showFinalScreen">

    <div class="gen-drop">
      <div class="dropzone"  appDragDrop (filesChangeEmiter)="handle_file_dropped($event)"
        (filesInvalidEmiter)="invalid_files($event)"
        [allowed_extensions]="['pdf']">
        <div class="text-wrapper">


          <div *ngIf="!isUploadedFiles" >
            <div class="centered">DRAG & DROP</div>
            <div class="centered-sub">PDF format is suggested.</div>
          </div>
          <div *ngIf="isUploadedFiles" >
            <div class="centered">Compatible uploaded files: </div>

            <div class="centered-sub">
                <ul>
                  <li *ngFor="let file of files">
                    Name: {{ file.name }} \\  Size: {{ file.size }} \\ Type: {{ file.type }}
                  </li>
                </ul>              
            </div>
          </div>
          <div *ngIf="isUploadedFiles" >
            <div class="centered">Unsupported uploaded files: </div>

            <div class="centered-sub">
                <ul>
                  <li *ngFor="let file of unsopported_files">
                    Name: {{ file.name }} \\  Size: {{ file.size }} \\ Type: {{ file.type }}
                  </li>
                </ul>              
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="gen-btn">  
      <button class="mat-custom-btn" (click)="goAnalyzeDocs()" >Analyze PDF's</button>
    </div>
  </form>


<div *ngIf="showFinalScreen" >
  
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let analyzed_doc of analyzed_response_docs[2]" style="height: 100% !important" >
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ this.files[analyzed_doc.index].name }}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button style="width: 100% !important" (click)="openViewDetail(analyzed_response_docs[0], analyzed_response_docs[1], analyzed_doc.values_tags)">View Detail</button>
        </mat-card-actions>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>

</div>




<div class="gen-drop" *ngIf="is_analyzing_files">
      <div class="dropzone"  appDragDrop (filesChangeEmiter)="handle_file_dropped($event)"
        (filesInvalidEmiter)="invalid_files($event)"
        [allowed_extensions]="['pdf']">
        <div class="text-wrapper">
          <div >
            <div class="centered"> <img src="https://sindicatdellogateres.org/wp-content/uploads/2019/02/loading.gif" style="max-height: 50px"> </div>

            <div class="centered-sub">
                <ul>
                  <li *ngFor="let file of files;index as i" >
                    Name: {{ file.name }} \\ done: {{ steps[i] ? "Yes" : "Loading.."}}
                  </li>
                </ul>              
            </div>
          </div>

        </div>
      </div>
    </div>





        </div>
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-12">
      </div>
    </div>
  </section>
</div>
  
</div>





