<div *ngIf="!isSpanish" >


<section class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
          <!-- Pending Users
          Check how many users want to use the platform as enterprise or mentor... -->
            
            <app-pendingusers>
          
            </app-pendingusers>
      </div>
      <div class="col-md-6 col-sm-12">
          <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
          
              <mat-panel-title>
                Distribution List
              </mat-panel-title>
          
              <mat-panel-description>
                Create new distribution list to send common emails.
              </mat-panel-description>
          
            </mat-expansion-panel-header>
          
          </mat-expansion-panel> -->
          <app-distribution>
        
          </app-distribution>
      </div>
      <div class="col-md-6 col-sm-12">
          <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
          
              <mat-panel-title>
                Upload Excel Users
              </mat-panel-title>
          
              <mat-panel-description>
                Upload massive users without any effortment just by uploading our template.
              </mat-panel-description>
          
            </mat-expansion-panel-header>
          
          </mat-expansion-panel> -->
            <app-massiveload>
          
            </app-massiveload>
      </div>
      <div class="col-md-6 col-sm-12">
          <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
          
              <mat-panel-title>
                Calendar List
              </mat-panel-title>
          
              <mat-panel-description>
                Create new Calendar list for create common events, and see those ones in a calendar view.
              </mat-panel-description>
          
            </mat-expansion-panel-header>
          
          </mat-expansion-panel> -->
          <app-calendar>
        
          </app-calendar>
      </div>
    </div>
  </div>
</section>
  
</div>


<div *ngIf="isSpanish">
  
<section class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
          <!-- Pending Users
          Check how many users want to use the platform as enterprise or mentor... -->
            
            <app-pendingusers>
          
            </app-pendingusers>
      </div>
      <div class="col-md-6 col-sm-12">
          <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
          
              <mat-panel-title>
                Distribution List
              </mat-panel-title>
          
              <mat-panel-description>
                Create new distribution list to send common emails.
              </mat-panel-description>
          
            </mat-expansion-panel-header>
          
          </mat-expansion-panel> -->
          <app-distribution>
        
          </app-distribution>
      </div>
      <div class="col-md-6 col-sm-12">
          <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
          
              <mat-panel-title>
                Upload Excel Users
              </mat-panel-title>
          
              <mat-panel-description>
                Upload massive users without any effortment just by uploading our template.
              </mat-panel-description>
          
            </mat-expansion-panel-header>
          
          </mat-expansion-panel> -->
            <app-massiveload>
          
            </app-massiveload>
      </div>
      <div class="col-md-6 col-sm-12">
          <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
          
              <mat-panel-title>
                Calendar List
              </mat-panel-title>
          
              <mat-panel-description>
                Create new Calendar list for create common events, and see those ones in a calendar view.
              </mat-panel-description>
          
            </mat-expansion-panel-header>
          
          </mat-expansion-panel> -->
          <app-calendar>
        
          </app-calendar>
      </div>
    </div>
  </div>
</section>

</div>

